body{
    background: #171717;
    margin: 0;
    font-family: 'Handlee';

}
header{
    background: whitesmoke;
    padding: 10px;
    margin: 0;
   
}

div.post {
    background: whitesmoke;
    margin-top: 20px;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;

}
div.post img{
    width: 100%;
    height: 250px;
    overflow: hidden;
    padding-bottom: 30px;
}


div.post .post-header div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .post-header div:last-child{
    display: inline-table;
    width: 20%;
    float: right;
    color: black;
    padding-top: 20px;
    
}
div.post h2, div.post-header p, div.post br{
    padding: 10px;
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
    height: 80%;
    font-size: 12px;
    padding-right: 330px;
    size: 3px;
    padding-left: 20px;
    padding-bottom: 15px;
    
}

header div.container{
    width: 120%;
    height: 100%;
    background-color: black;
 }

